:root {
  --cornflower: #e7e9fc;
  --iris: #4d5ae5;
  --navyblue: #383949;
  --slate: #434455;
  --white: #ffffff;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
}
.body {
  background: var(--white);
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

/*------------------------HEADER----------------------*/

.header {
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
}
.nav {
}
.logo-header {
  color: var(--iris, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-header-highlight {
  color: var(--navyblue);
}
.nav-list {
}

.nav-item {
}
.nav-link {
  color: var(--navyblue, #2e2f42);
  font-weight: 500;
}

.address-link {
  color: var(--slate, #434455);
  font-style: normal;
}

/*---------------------MAIN--------------------------------*/
.main {
}
.section1 {
  background: var(--navyblue);
}
.section1-heading1 {
  color: var(--white, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.section1-button {
  color: var(--white, #fff);
  font-weight: 500;
  border-radius: 4px;
  background: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.advantages {
}
.advantages-heading2 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-heading3 {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.advantages-text {
  color: var(--slate);
}

.projects-heading2 {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team {
  background: var(--cloud);
}
.team-heading2 {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
}
.team-heading3 {
  color: var(--navyblue);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-text {
  color: var(--slate, #434455);
  text-align: center;
}

/*---------------------MAIN PORTFOLIO--------------------------------*/

.filter-button {
  color: var(--iris, #4d5ae5);
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  background: var(--cloud);
}
.filter-button:hover,
.filter-button:focus {
  color: var(--white, #fff);
  background: var(--ocean, #404bbf);
}
.filer-item {
}
.portfolio-list {
}
.portfolio-item {
  border: 1px solid var(--cornflower);
  background: var(--white);
}
.portfolio-link {
}

.portfolio-heading3 {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-text {
  color: var(--slate);
}

/*-----------------------FOOTER------------------------*/
.footer {
  background: var(--navyblue);
}
.logo-footer {
  color: var(--iris);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-footer-highlight {
  color: var(--cloud);
}
.footer-text {
  color: var(--cloud);
}
